@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');
@import "tailwindcss";

@theme {
  --font-mono: "VT323", monospace;
}

@keyframes glitch {
  0% { transform: translate(0); }
  20% { transform: translate(-2px, 2px); }
  40% { transform: translate(-2px, -2px); }
  60% { transform: translate(2px, 2px); }
  80% { transform: translate(2px, -2px); }
  100% { transform: translate(0); }
}

.animate-glitch { animation: glitch 0.3s infinite; }
